.subscribe-button{
    background-color: rgb(243, 7, 7);
    color:white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 4px;
}  
 .subscribe-button:hover {
    opacity: 0.8;
}
.subscribe-button:active {
    opacity: 0.5;
}
 
.join-button{
       background-color:white;
       color:rgb(6, 42, 248);
       border-color:rgb(6, 42, 248);
       padding-left: 10px;
       padding-right: 10px;
       padding-top: 5px;
       padding-bottom: 5px;
       border-radius: 4px;
       margin-right: 4px;
      
   }

   .join-button:hover{
    background-color:rgb(6, 42, 248); 
    color:white;
}
.join-button:active {
    opacity: 0.7;
}

.tweet-button{
       background-color:rgb(15, 125, 228);
       color:white;
       border:none;
       height: 36px;
       width: 90px;
       border-radius: 30px;
       font-weight:bold;
       font-size: 18px;
       
   }

   .tweet-button:hover{
       box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
      
   }